<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>

      <%= check_box("tag", tag.id, {checked: task.completed}) %>
      <%= link_to task.title, task_path(task) %></li>
    <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>

      <!-- <input type="checkbox" name=""> -->
